services:
  database:
    image: postgres:16
    container_name: database
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "${REDIS_PORT}:6379"

  api:
    container_name: api
    build: .
    command: ./scripts/start_api.sh
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - database
      - redis

  celery:
    container_name: celery_beat
    build: .
    command: ./scripts/start_celery.sh
    env_file:
      - .env
    volumes:
      - ./reports:/app/reports
    depends_on:
      - database
      - redis

volumes:
  postgres_data:
