[tool.ruff]
line-length = 120
target-version = "py311"

[tool.ruff.lint]
select = ["E", "F", "I", "W"]
ignore = ["E501"]

[tool.ruff.lint.per-file-ignores]
"src/migrations/**" = ["F403", "F401", "I001", "W291"]

[tool.ruff.lint.isort]
known-first-party = ["api", "core", "database", "models", "admin"]

[tool.mypy]
python_version = "3.11"
plugins = ["pydantic.mypy"]
ignore_missing_imports = true
disallow_untyped_defs = false
check_untyped_defs = true
warn_return_any = false
warn_unused_ignores = true
mypy_path = "src"
explicit_package_bases = true
